
*.pyc
*.*~
*.swp
Thumbs.db

build/
docs/_build
dist/
pymorphy2.egg-info
stuff/
htmlcov/
.coverage
.cache/

.idea/
.rope*
PYSMELLTAGS
reports
.ipynb_checkpoints
*.ipynb
*.prof
*.html
*.so

.tox
MANIFEST

stuff
